* {
    padding: 0;
    margin: 0;
}

h2 {
    display: none;
}

body {
    background-color: #253C78;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    margin-left: 2%;
}

#ajouterCompteur {
    color: #253C78;
    background-color: white;
    margin-top: 1%;
    margin-left: 2%;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 19px;
    border-radius: 7px;
    border: 2px solid #253C78;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

#ajouterCompteur:hover {
    color: white;
    background-color: #253C78;
    margin-top: 1%;
    margin-left: 2%;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 19px;
    border-radius: 7px;
    border: 2px solid white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

/* <input type="text" placeholder="Nom du compteur" class="nomCompteur" value="${nom}">
            <p class="valeurCompteur">${valeur}</p>
            <button class="incrementer">+1</button>
            <button class="supprimer">Supprimer</button> */

.compteur {
    display: block;
    margin-left: 2%;
    margin-top: 2%;
    width: 13%;
}

.nomCompteur {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.valeurCompteur {
    color: white;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}